<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "./bower_components/gsg-theme-default/templates/partials/head.html" %}
  </head>
  <body>
    <header class="blog-masthead">
          {% include "./partials/header.html" %}
    </header>
    <main class="container">
          {% block content %}{% endblock %}
    </main>
    <footer class="container-fluid">
          {% include "./bower_components/gsg-theme-default/templates/partials/footer.html" %}
    </footer>
    {% include "./partials/scripts.html" ignore missing %}
  </body>
</html>